body{ background: url('../photo/pink.jpg') right/cover no-repeat; 
    background-size: auto;
}

p{
    color:#000;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    left: 750px;
}
h1{
    color: #5c9fc9;
    font-weight: bold;
    font-size: 50px;
    padding-left: 30px;
}
h2{
    color: #000;
    font-size: 22px;
    font-weight: bold;
    padding-left: 30px;
}
.navbar-menu li{
    display: inline-block;
    list-style: none;
    font-size: 16px;
    margin-top: 14px;
    padding-right: 15px;
    position: relative;
}
a:hover{background-color: #dadfdf;padding: 12px;border-radius: 1000px; font-weight: bold}
body > select {color: #000;background-color: #fff}
.location{
    margin-left: 30px;
    font-size: 14px;
}
.block1, .block2, .block3 {
    display: inline-block;
    background-color: #ffffff;
    width: 250px;
    height: 230px;
    margin: 30px;
}
.img {    
    padding-top: 30px;
    padding-left: 30px;
    display: inline-block;

    
}
.caption {
    display: inline-block;
    padding-top: 10px;
    padding-left: 85px;
}


