body{ background: url('../photo/pink.jpg') right/cover no-repeat; 
    background-size: 100%;
}

p{
    color:#fff;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
}
h1{
    color: #5c9fc9;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Lucida Console', Courier, monospace;
}
h2{
    color: #939191;
    font-size: 22px;
    font-weight: bold;
}
.active, .active ~ a{
    color: rgb(52, 152, 56);
    text-decoration: underline;
    padding: 15px;
    font-size: 20px;
}
a:hover{background-color: #87CEFA; font-weight: bold}
body > select {color: #000;background-color: #fff}
.block1,.block2,.block3{
    background-color: #ede83e;
    box-sizing: content-box;
    width: 75px; 
    height: 70px;
    padding:50px;
    margin: 30px;
    border-style: solid;
    border-radius: 50%;
    text-align:center;
    display: inline-block;
}
.block2{background-color: #d581e6d5;}
.block3{background-color: rgb(144, 207, 93);}
